<div class="author">
    <h1 class="author_heading">Welcome Piyush</h1>
    <p class="author_body">Write Something</p>
</div>

<div style="display:flex; justify-content:center;"><img src="/img/z.avif" alt="" class="hero-image"></div>

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(eleme =>{ %>
        <li>
            <a href="/post/<%= eleme._id %>">
                <span><%= eleme.title %> </span><span class="article-list__date" style="display:flex; align-items:center;"><%= eleme.createdAt.toDateString() %><button class="button type1" style="width:80px; height:30px; margin-left:18px;"><span></span>Likes:<%= eleme.likes %></span></button></span>
            </a>
        </li>

        <% }) %>
    </ul>

    <% if(nextPage!= null){ %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <%} %>

    
</section>