<div class="author">
    <h1 class="author_heading">Welcome</h1>
    <p class="author_body">Write Something</p>
</div>

<div style="display:flex; justify-content:center;"><img src="/img/z.avif" alt="" class="hero-image"></div>

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(eleme =>{ %>
        <li style="display:flex; justify-content:space-between;">
            <a href="/post/<%= eleme._id %>" style="flex:1">
                <span><%= eleme.title %> </span>
                <span class="article-list__date" style="display:flex; align-items:center;"><%= eleme.createdAt.toDateString() %>
                    
                </span>
            </a>
            <form action="/liked/<%= eleme._id %>" method="POST" class="vutton type1">
                <input type="submit" value="Like <%= eleme.likes %>" class=" vtn-text vutton type1"></form>
        </li>

        <% }) %>
    </ul>

    <% if(nextPage!= null){ %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <%} %>

    
</section>